<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/fetch-data">Notes</a></li>
    <li><a href="/add-note">add note</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>