<section class="errorBlock">
  <article>
    {{#each errors}}
      <h3 style="color: red;">{{errorText}}</h3>
    {{/each}}
  </article>
</section>

<section id="noteApp">
  <article>
    <h2>edit note </h2>
    <form method="post" action="/edit-note/{{findId._id}}?_method=PUT">
      <input type="hidden" name="_method" value="PUT" /> 
      {{!-- developers --}}
      <div class="form-group">
        <label for="note_name">name of the note</label>
        <input
          type="text"
          name="note_name"
          placeholder="enter note name"
          value={{findId.note_name}}
        />

      </div>
      <div class="form-group">
        <label for="note_description">Description</label>
        <textarea
          name="note_description"
          id="note_description"
        >{{findId.note_description}}</textarea>
      </div>
      <button>edit a note</button>
    </form>
  </article>
</section>